.header-admin {
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
  .user-logo {
    color: red;
    font-size: 20px;
    width: 20%;
      margin-left: auto;
  }
}
.logo-admin {
  color: white;
  font-size: 30px;
  margin-bottom: 20%;
}

.ant-modal-root .ant-modal-mask {
  position: fixed;
  inset: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}
.ant-modal .ant-modal-content {
  position: relative;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: auto;
  padding: 12px 37px;
}