.wrapper-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  background-color: #000000b3;
  .loader {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 9999;
    transform: translateX(-50%);
  }

  .loader::before,
  .loader::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    mix-blend-mode: multiply;
    animation: rotate92523 3s infinite cubic-bezier(0.77, 0, 0.175, 1);
  }

  .loader::before {
    background-color: #75e2ff;
  }

  .loader::after {
    background-color: #ff8496;
    animation-delay: 1s;
  }
}
@keyframes rotate92523 {
  0%,
  100% {
    left: 50px;
  }

  25% {
    transform: scale(0.3);
  }

  50% {
    left: 0%;
  }

  75% {
    transform: scale(1);
  }
}
