.header-container {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 70px;
  .navbar-page-home {
    padding: 0.5rem 2.5rem !important ;
    background-color: initial !important;
    border: none;
    .navbar-toggler {
      .color-button-toggle {
        filter: invert(1);
      }
    }
    .left-header-home {
      .name-home {
        font-size: 30px;
        font-weight: bold;
        line-height: 1.5;
        position: relative;
        font-family: cursive;
        .color-name-menu {
          color: white;
        }
      }
      .logo-home {
        font-size: 15px;
        color: green;
        line-height: 3rem;
      }
      .form-inline {
        flex-wrap: nowrap;
        display: none;
      }
      .form-control {
        &:focus {
          box-shadow: none !important;
        }
      }
      .btn-search-home {
        background-color: #1dbf73;
        color: white;
        padding: 6px 12px;
        border-radius: 5px;
        border: 1px solid #1dbf73;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        &:hover {
          background-color: #25a76a;
        }
      }
    }
    .right-header-home {
      ul {
        li {
          color: #74767e;
          cursor: pointer;
          font-size: 16px;
          font-weight: 600;
          margin: 0 10px;
          a {
            transition: all 0.3s ease-in-out;
          }
          &:hover {
            a {
              color: #1dbf73 !important;
            }
          }
        }
      }
      .btn-join-home {
        display: none;
        margin-left: 1rem !important;
        font-family: "Montserrat Alternates", sans-serif;
        background-color: white;
        color: #28a745;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: #28a745;
          color: white;
        }
      }
      .color-menu {
        li {
          a {
            color: white;
          }
        }
      }
    }
  }
  .content-nav-home {
    padding: 0.5rem 4rem !important;
    background-color: #f8f9fa;
    display: none;
    ul {
      li {
        list-style: none;
        margin-left: 15px;
        a {
          color: #62646a;
          text-decoration: none;
        }
        &::after {
          content: "";
          display: block;
          width: 0%;
          height: 3px;
          background-color: #1dbf73;
          transition: all 0.4s ease-in-out;
        }
        &:hover {
          a {
            color: #1dbf73;
          }
        }
      }
      li:hover::after {
        width: 100%;
      }
    }
    .listContent-nav-home {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      li {
        position: relative;
        .togle-content-nav {
          position: absolute;
          z-index: 900;
          top: 26px;
          left: 0px;
          width: max-content;
          box-shadow: 0px 0px 10px 0px #7f847f;
          background-color: rgb(240 240 240);
          padding: 10px 25px;
          border-radius: 6px;
          transition: all 0.5s;
          display: none;
          .content-togle {
            margin-bottom: 15px;
            h6 {
              color: #404145;
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 5px;
            }
            p {
              cursor: pointer;
              margin-bottom: 0;
              color: #62646abd;
              &:hover {
                color: #28a745;
              }
            }
          }
          &:hover {
            display: block;
          }
        }
        .change-togle {
          left: -180px;
        }
        &:hover {
          .togle-content-nav {
            display: block;
          }
        }
      }
    }
  }
  .toggle-button {
    @extend .content-nav-home;
  }
}
#root {
  .header-active {
    .navbar-page-home {
      background-color: #f8f9fa !important;
      border-bottom: 1px solid rgb(0 0 0 / 14%);
      .navbar-toggler {
        .color-button-toggle {
          filter: none;
        }
      }
      .left-header-home {
        .name-home {
          .color-name-menu {
            color: black;
          }
        }
        .form-inline {
          display: flex;
          flex-wrap: nowrap;
        }
      }
      .right-header-home {
        .color-menu {
          li {
            a {
              color: rgba(0, 0, 0, 0.5);
            }
          }
        }
        .btn-join-home {
          display: block;
        }
        .btn-logout {
          display: block;
        }
      }
    }
    .content-nav-home {
      display: block;
    }
  }
}
@media screen and (max-width: 1100px) {
  .right-header-home {
    ul {
      li {
        font-size: 13px !important;
      }
    }
  }
}
@media screen and (max-width: 990px) {
  .right-header-home {
    ul {
      .li-1 {
        display: none;
      }
    }
  }
  .layout-detail {
    padding-top: 10% !important;
  }
  #root {
    .header-active {
      .content-nav-home {
        display: none;
      }
    }
  }
  .header-container {
    .toggle-button {
      display: block;
      width: 60%;
      height: 100vh;
      padding: 1rem 2rem !important;
      transform: translateX(-120%);
      transition: all 0.5s ease-in-out;
      .icon-close-toggle {
        display: flex;
        justify-content: end;
        margin-bottom: 20px;
        cursor: pointer;
      }
      .listContent-nav-home {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        li {
          .nav-link {
            padding: 0;
          }
        }
        .nav-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          &::after {
            content: none;
          }
        }
      }
    }
  }
  .header-container {
    .active-toggle-button {
      transform: translateX(0%);
    }
  }
}
@media screen and (max-width: 719px) {
  .content-nav-home {
    display: none;
  }
  .layout-detail {
    padding-top: 13% !important;
  }
  .navbar {
    .right-header-home {
      display: none !important;
    }
  }
  .header-container {
    .toggle-button {
      display: block;
      width: 100%;
    }
  }
}
@media screen and (max-width: 570px) {
  .navbar-page-home {
    flex-wrap: nowrap !important;
    .left-header-home {
      .form-inline {
        display: none !important;
      }
    }
  }
  .layout-detail {
    padding-top: 18% !important;
  }
}
